@import "reset";
@import "variables/global";
@import "themes/default.scss";
@import "themes/light";
@import "themes/dark";
@import "antd/input";
@import "antd/notification";

.app {
    font: var(--font-m);
    background: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
}

.content-page {
    display: flex;
}
