@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";
@import "antd/input";
@import "antd/notification";
@import "antd/select";
@import "antd/table";
@import "antd/pagination";
@import "antd/tooltip";
@import "antd/confirm";
@import "antd/collapse";
@import "antd/drawer";
@import "antd/date-picker";
@import "antd/checkbox";
@import "antd/button";

.app {
    font: var(--font-m);
    background: var(--bg-color);
    color: var(--inverse-color);
    min-height: 100vh;
}

.content-page {
    display: flex;
}
