*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
button,
textarea,
select {
    margin: 0;
    font: inherit;
}

/* 
   Using `!important` ensures transitions and animations are fully disabled, 
   overriding any conflicting styles, for scenarios like theme changes. 
*/
.disable-transitions * {
    transition: none !important;
    animation: none !important;
}
