:root {
    --font-family-main: consolas, "Times New Roman", serif;

    /* Font sizes and lines */
    --font-size-m: 1.6rem; /* 16px */
    --font-line-m: 2.4rem; /* 24px */
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);

    --font-size-l: 2.4rem; /* 24px */
    --font-line-l: 3.2rem; /* 32px */
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

    --font-size-xl: 3.2rem; /* 32px */
    --font-line-xl: 4rem; /* 40px */
    --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

    /* Dimensions */
    --navbar-height: 6.4rem; /* 64px */
    --sidebar-width: 30rem; /* 300px */
    --sidebar-width-collapsed: 8rem; /* 80px */

    /* Paddings */
    --padding-small: 1.2rem; /* 12px */
    --padding-middle: 2.4rem; /* 24px */
    --padding-large: 3.6rem; /* 36px */
    --padding-extra-large: 4.8rem; /* 48px */

    /* Margins */
    --margin-small: 1.2rem; /* 12px */
    --margin-middle: 2.4rem; /* 24px */
    --margin-large: 3.6rem; /* 36px */
    --margin-extra-large: 4.8rem; /* 48px */

    /* Gaps */
    --gap-small: 0.8rem; /* 8px */
    --gap-middle: 1.6rem; /* 16px */
    --gap-large: 2.4rem; /* 24px */

    /* Opacity */
    --default-opacity: 0.5;
    --hover-opacity: 1;
}
