.layout {
    min-height: 100vh;
    display: flex;
}

.siteLayout {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.content {
    flex-grow: 1;
    padding: var(--padding-middle);
    overflow-y: auto;
    height: calc(100vh - var(--navbar-height));
}
