.modal-custom {
    .ant-modal-content {
        background-color: var(--secondary-bg-color);
    }

    .ant-modal-confirm-title {
        color: var(--text-color);
    }

    .ant-modal-confirm-content {
        color: var(--text-color);
    }

    .ant-btn-default {
        color: var(--text-color);
        border-color: var(--border-color);
        background-color: transparent;
        &:hover {
            // Very specific override required to change Ant Design's styles
            background-color: transparent !important;
            border-color: var(--primary-color-hover) !important;
            color: var(--primary-color-hover) !important;
        }
    }

    .ant-btn-dangerous {
        color: var(--error-color);
        border-color: var(--error-color);
        &:hover {
            // Very specific override required to change Ant Design's styles
            border-color: var(--error-color-hover) !important;
            color: var(--error-color-hover) !important;
        }
    }
}
