.ant-drawer .ant-drawer-close {
    color: var(--inverse-color);
}
.ant-drawer .ant-drawer-close:hover {
    color: var(--inverse-color);
}

.ant-drawer .ant-drawer-footer {
    border-color: var(--inverse-color);
}
