@mixin text-color {
    color: var(--text-color);
}

@mixin border-color {
    border-color: var(--border-selected-color) !important;
}

.ant-input {
    &:focus {
        @include border-color;
    }
}

.ant-input-affix-wrapper-focused,
.ant-picker-focused,
.ant-select-focused .ant-select-selector {
    @include border-color;
}

.ant-input-clear-icon svg {
    @include text-color;
    opacity: var(--default-opacity);
}

.ant-input-clear-icon svg:hover {
    @include text-color;
    opacity: var(--hover-opacity);
}

.ant-input-password-icon svg {
    @include text-color;
}

.ant-input-outlined.ant-input-status-error:not(
        .ant-input-disabled
    ):focus-within {
    box-shadow: none;
}

input:-internal-autofill-selected {
    background-color: none !important;
}
