.ant-input-clear-icon svg {
    color: var(--text-color);
    opacity: var(--default-opacity);
}

.ant-input-clear-icon svg:hover {
    color: var(--text-color);
    opacity: var(--hover-opacity);
}

.ant-input-password-icon svg {
    color: var(--text-color);
}

.ant-input-outlined.ant-input-status-error:not(
        .ant-input-disabled
    ):focus-within {
    box-shadow: none;
}

input:-internal-autofill-selected {
    // Very specific override required to change Ant Design's styles
    background-color: none !important;
}
