@mixin text-color {
    color: var(--text-color);
}

.ant-notification {
    &-notice-wrapper {
        .ant-notification-notice {
            background-color: var(--secondary-bg-color);
            border: 1px solid var(--border-color);

            .ant-notification-notice-message {
                @include text-color;
            }

            .ant-notification-notice-description {
                @include text-color;
            }

            .ant-notification-notice-close {
                @include text-color;

                &:hover {
                    @include text-color;
                    opacity: 0.8;
                }
            }
        }
    }
}
