.ant-notification {
    .ant-notification-notice-wrapper {
        .ant-notification-notice {
            background-color: var(--secondary-bg-color);
            border: 1px solid var(--border-color);
        }

        .ant-notification-notice-message {
            color: var(--inverse-color);
        }

        .ant-notification-notice-description {
            color: var(--inverse-color);
        }

        .ant-notification-notice-close {
            color: var(--inverse-color);
        }

        .ant-notification-notice-close:hover {
            color: var(--inverse-color);
            opacity: 0.8;
        }
    }
}
