.ant-pagination .ant-pagination-item-active {
    border: 2px solid var(--border-color);
}
.ant-pagination .ant-pagination-item-active a {
    color: var(--inverse-color);
}
.ant-pagination-item-link {
    // Very specific override required to change Ant Design's styles
    color: var(--inverse-color) !important;
}

.ant-pagination .ant-pagination-item:hover {
    // Very specific override required to change Ant Design's styles
    background-color: var(--pagination-active-color) !important;
}

.ant-pagination .ant-pagination-item-active:hover {
    border: 2px solid var(--primary-color-hover);
    // Very specific override required to change Ant Design's styles
    background-color: transparent !important;
}

.ant-pagination .ant-pagination-item-active:hover a {
    color: var(--primary-color-hover);
}

.ant-pagination
    .ant-pagination-jump-next
    .ant-pagination-item-container
    .ant-pagination-item-ellipsis {
    color: var(--inverse-color);
}
