body .ant-table-thead > tr > th {
    white-space: nowrap;
    word-break: keep-all;
}

.ant-table-wrapper
    .ant-table-row-expand-icon-cell
    .ant-table-row-expand-icon:hover {
    border-color: var(--border-color);
}

.ant-table-wrapper
    .ant-table-row-expand-icon-cell
    .ant-table-row-expand-icon:focus {
    border-color: var(--border-color);
}

.ant-table-wrapper .ant-table-row-expand-icon-collapsed::before,
.ant-table-wrapper .ant-table-row-expand-icon-collapsed::after {
    color: var(--inverse-color);
}

.ant-table-wrapper .ant-table-row-expand-icon::before,
.ant-table-wrapper .ant-table-row-expand-icon::after {
    color: var(--inverse-color);
}

.ant-empty .ant-empty-description {
    color: var(--inverse-color);
}
// Very specific override required to change Ant Design's styles
.ant-table-wrapper .ant-table {
    scrollbar-color: inherit !important;
}
