.ant-tooltip .ant-tooltip-inner a {
    color: var(--inverse-color);
}

.ant-tooltip .ant-tooltip-inner {
    background-color: var(--accent-color);
}

.ant-tooltip .ant-tooltip-arrow::after {
    background-color: var(--accent-color);
}

.ant-tooltip .ant-tooltip-inner {
    color: var(--inverse-color);
}
