.sidebar {
    box-shadow: var(--layout-shadow);
    height: 100vh;
    overflow-y: auto;
    z-index: 2;
    &.sidebar .custom-menu {
        border-inline-end: 1px solid var(--secondary-bg-color);
    }
    .title {
        margin: var(--margin-small) 0 var(--margin-small) var(--margin-small);
        display: block;
    }
}
