.Sidebar {
    box-shadow: var(--layout-shadow);
    height: 100vh;
    overflow-y: auto;
    &.Sidebar .custom-menu {
        border-inline-end: 1px solid var(--secondary-bg-color);
    }
    z-index: 2;
}
