.NotFoundPage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--inverse-color);
    font-family: var(--font-family-main);
}

.content {
    text-align: center;
    padding: var(--padding-extra-large);
    box-shadow: var(--layout-shadow);
    background-color: var(--secondary-bg-color);
    border-radius: 8px;
}

.errorCode {
    font-size: var(--font-size-xl);
    line-height: var(--font-line-xl);
    color: var(--error-color);
    margin: 0;
}

.errorMessage {
    font-size: var(--font-size-l);
    line-height: var(--font-line-l);
    color: var(--primary-color);
    margin: var(--margin-middle) 0;
}

.returnButton {
    background-color: var(--border-color);
    color: var(--inverse-color);
    transition: background-color 0.3s ease;
    border: none;

    &:hover {
        background-color: var(--border-selected-color);
    }
}
