.app.dark {
    --bg-color: #333333; /* Темный фон для ночного режима */
    --inverted-bg-color: #ffffff; /* Белый фон для дневного режима */
    --primary-color: #ffcc00; /* Желтый как основной цвет в ночном режиме */
    --secondary-color: #f8f9fa; /* Светло-серый для вспомогательных элементов */
    --accent-color: #17a2b8; /* Голубой для акцентов и информационных сообщений */
    --error-color: #ff5733; /* Ярко-красный для ошибок и предупреждений */
    --inverted-primary-color: #007bff; /* Синий как инвертированный основной цвет */
    --inverted-secondary-color: #6c757d; /* Серый как инвертированный второстепенный цвет */
}
