:root {
    --bg-color: #e0f7fa; /* Светло-голубой фон для дневного режима */
    --inverted-bg-color: #2e2e2e; /* Менее темный фон для ночного режима */
    --primary-color: #3f51b5; /* Темно-синий как основной цвет */
    --secondary-color: #78909c; /* Серо-голубой для вспомогательных элементов */
    --accent-color: #4caf50; /* Зеленый для акцентов и подтверждений */
    --error-color: #f44336; /* Красный для ошибок и предупреждений */
    --inverted-primary-color: #ff9800; /* Яркий оранжевый как инвертированный основной цвет */
    --inverted-secondary-color: #b0bec5; /* Светло-серый как инвертированный второстепенный цвет */
}
