:root {
    --bg-color: #ffffff; /* Белый фон для дневного режима */
    --inverted-bg-color: #333333; /* Темный фон для ночного режима */
    --primary-color: #007bff; /* Синий, часто используемый как основной цвет */
    --secondary-color: #6c757d; /* Серый для вспомогательных элементов */
    --accent-color: #28a745; /* Зеленый для акцентов и подтверждений */
    --error-color: #dc3545; /* Красный для ошибок и предупреждений */
    --inverted-primary-color: #ffcc00; /* Желтый как инвертированный основной цвет */
    --inverted-secondary-color: #ffffff; /* Белый как инвертированный второстепенный цвет */
}
