.Header {
    padding: 0 var(--padding-container);
    box-shadow: var(--navbar-shadow);

    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .switchers {
            display: flex;
            align-items: center;
            gap: var(--gap-middle);
        }
    }
}
