.Header {
    padding: 0 var(--padding-middle);
    box-shadow: var(--navbar-shadow);
    height: var(--navbar-height);

    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        .switchers {
            display: flex;
            align-items: center;
            gap: var(--gap-middle);
        }
    }
}
