.authContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: var(--bg-color);
    margin-top: 50px;
    form {
        background-color: var(--secondary-bg-color);
        padding: 40px;
        box-shadow: var(--layout-shadow);
        width: 100%;
        max-width: 400px;
        input {
            margin: 0;
        }
    }
}
